Java/Tomcat/apache-tomcat-10.1.23/logs/*.log
/Java/JavaProject/Calculator/nbproject/private/
/Java/JavaProject/Calculator/build/
/Java/JavaProject/FSA/nbproject/private/
/Java/JavaProject/PhanTienManh_JPL.L.A101/nbproject/private/
/Java/JavaProject/slot6_static/build/
/Java/JavaProject/slot11_Serialization/nbproject/private/
/Java/JavaProject/slot12_Lambda/nbproject/private/
/Java/JavaProject/slot11_Serialization/build/
/Java/JavaProject/slot12_Lambda/build/
/Java/JavaProject/Collection_Collections/build/
/Java/JavaProject/Java.M.A301/nbproject/private/
/Java/JavaProject/Java.M.A301/build/
/Java/JavaProject/PhanTienManh_Java.M.A301/nbproject/private/
/Java/JavaProject/PhanTienManh_Java.M.A301/build/
/Java/JavaProject/PhanTienManh_JPL.L.A101/build/
/Java/JavaProject/PhanTienManh_Java_Solid/nbproject/private/
/Java/JavaProject/JPL.L.A101_2/target/
/Java/JavaProject/testMavenConnection/target/
/Java/JavaProject/CSD201/dist/
/Java/JavaProject/4user/FORUSER_Ex1/build/
/Java/JavaProject/4user/FORUSER_Ex1/nbproject/private/
/Java/JavaProject/4user/FORUSER_Ex3/build/
/Java/JavaProject/4user/FORUSER_Ex3/nbproject/private/
/Java/JavaProject/4user/FORUSER_Ex4/build/
/Java/JavaProject/4user/FORUSER_Ex4/nbproject/private/
/Java/JavaProject/4user/FORUSER_Ex5/build/
/Java/JavaProject/4user/FORUSER_Ex5/nbproject/private/
/Java/JavaProject/4user/CRUD With Collection/build/
/Java/JavaProject/4user/CRUD With Collection/nbproject/private/
/Java/JavaProject/4user/CRUD With DB/build/
/Java/JavaProject/4user/CRUD With DB/dist/
/Java/JavaProject/4user/CRUD With DB/nbproject/private/
/Java/JavaProject/4user/CRUD With DB2/build/
/Java/JavaProject/4user/CRUD With DB2/nbproject/private/
/Java/JavaProject/4user/CreateServletNormal/nbproject/private/
/Java/JavaProject/4user/CreateServletUltraSpeed/build/
/Java/JavaProject/4user/CreateServletUltraSpeed/nbproject/private/
/Java/JavaProject/4user/CreateServletXML/build/
/Java/JavaProject/4user/CreateServletXML/nbproject/private/
/Java/JavaProject/4user/FORUSER_Ex1/dist/
**/nbproject/private/
*.class