<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>f1</filter-name>
        <filter-class>filter.MyFilter1</filter-class>
    </filter>
    <filter>
        <filter-name>f2</filter-name>
        <filter-class>filter.MyFilter2</filter-class>
    </filter>
    <filter>
        <filter-name>f3</filter-name>
        <filter-class>filter.MyFilter3</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>f3</filter-name>
        <url-pattern>/servlet3</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>f2</filter-name>
        <url-pattern>/servlet2</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>f1</filter-name>
        <url-pattern>/servlet1</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>s1</servlet-name>
        <servlet-class>servlet.Servlet1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s2</servlet-name>
        <servlet-class>servlet.Servlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>s3</servlet-name>
        <servlet-class>servlet.Servlet3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>s1</servlet-name>
        <url-pattern>/servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s2</servlet-name>
        <url-pattern>/servlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>s3</servlet-name>
        <url-pattern>/servlet3</url-pattern>
    </servlet-mapping>
</web-app>
